body {
    font-family: Arial, sans-serif;
    background-color: none
}

main {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align: center;
}
.well {
    color: #adff2f;
    text-align: center;
}

p {
    text-align: center;
}
.p_text {
    color: #adff2f;
    text-align: center;
    font-size: 18px;
}
.after_header {
    background-color: #9acd32; 
    text-align: center; 
    padding: 80px;
}

.button {
    background-color: #337ab7; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline; /* Отображаем как блочный элемент для верного позиционирования */
    margin-top: 18px;
}

.button:hover {
    background-color: #337ab7; 
}

