body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

main {

    max-width: 1170px; /* Ограничиваем ширину страницы */
    margin: 0 auto; /* Центрируем содержимое */
    padding: 0 15px; /* Добавляем отступы для края */
}

h1 {
    text-align: center;
}

.well, p, .p_text {
    text-align: center;
}

.well{
    color:  #adff2f;;
}
.p_text {
    color: #adff2f;
    font-size: 18px;
}

.after_header {
    position: relative;
    width: 100vw; /* Растягивает div на всю ширину окна */
    left: 50%; /* Центрирует div */
    transform: translateX(-50%); /* Компенсирует смещение */
    background-color: #9acd32;
    text-align: center;
    padding: 80px;
    box-sizing: border-box;
}


.button {
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 18px;
}

.button:hover {
    background-color: #285a8e;
}

small {
    font-weight: 100;
    font-size: 17px;
    line-height: 1;
    color: #777;
}

/* Стили для основной сетки */
.main1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
    max-width: 1170px; /* Максимальная ширина */
    margin: 0 auto; /* Центрируем */
}

/* Стили для article */
.main1 article {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы внутри article */
    padding: 15px;
    text-align: center;

}

.orange-side {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px; /* Увеличенный padding для ровного внешнего вида */
    max-width: 1170px; /* Максимальная ширина */
    margin: 0 auto; /* Центрируем */
    background-color: #daa520;
    color: #000;
    text-align: center;
    box-sizing: border-box;
}

/* Стили для article внутри .orange-side */
.orange-side div {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center; /* Центрируем элементы внутри article */
    padding: 15px;
    text-align: center;
}




.img-orange {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto; /* Центрируем изображение */
}

.org-btn {
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .main1,
    .orange-side {
        grid-template-columns: 2fr; /* Один столбец на узких экранах */
    }
}

@media (max-width: 480px) {
    .button, .org-btn {
        width: 100%;
    }
}
